.login-form{
    margin: 0 auto;
    margin-top: 150px;

}

.contain{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    border: 1.5px solid rebeccapurple;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 0px 5px 9px rgba(156,151,156,0.11);
    -moz-box-shadow: 1px 0px 5px 9px rgba(156,151,156,0.11);
    box-shadow: 1px 0px 5px 9px rgba(156,151,156,0.11);
}
.btn-login{
    margin-top:12px; 
}
.error-message-text{
    font-size: 12px;
    color: red;
}