<div class="row contain">
  <div class="col-md-4 login-form">
      <div class="jumbotron">
          <div class="container">
              <div class="col-md-12">
                  <div class="col-md-8 col-md-offset-2">
                      <!-- <img src="/assets/img/rawpixel-600777-unsplash.jpg" alt="" class="img img-responsive img-circle"> -->
                  </div>
              </div>
              <!-- <div class="col-md-12">
                  <hr>
              </div> -->
              <div class="col-md-12">
                  <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
                      <div class="form-group has-feedback" [ngClass]="{'has-error':!email.valid && email.dirty}">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" [formControl]="email" autocomplete="off">
                          <span *ngIf="email.hasError('required') && email.dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                          <div *ngIf="email.dirty">
                              <div *ngIf="email.hasError('required')" class="error-message-text">
                                  You must include a email.
                              </div>
                          </div>
                      </div>

                      <div class="form-group has-feedback" [ngClass]="{'has-error':!password.valid && password.dirty}">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd" [formControl]="password" autocomplete="off">

                          <span *ngIf="password.hasError('required') && password.dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                          <div *ngIf="password.dirty">
                              <div *ngIf="password.hasError('required')" class="error-message-text">
                                  You must include a password.
                              </div>
                          </div>
                      </div>
                        <div class="form-group btn-login">
                                <button type="submit" class="btn btn-outline-secondary btn-sm" [disabled]="!submitButtonStatus">
                                        <span *ngIf="submitButtonStatus">Login</span>
                                        <span *ngIf="!submitButtonStatus">Verifying ...
                                            <i class="fa fa-spinner fa-pulse  fa-fw"></i>
                                        </span>
                                </button>
                        </div>
                      

                  </form>
              </div>

          </div>
      </div>
  </div>
</div>
