


<div class="notification-view">
  <div *ngFor="let notification of notifications;let i = index" class="alert alert-{{notification.type}}">
      <a class="close" (click)="closeNotification(i)">&times;</a>
      {{notification.notification}}
  </div>
</div>
<router-outlet></router-outlet>