<div class="container">

    
  <div style="margin-bottom:10px;">
         <button class="btn btn-outline-secondary btn-sm" id="collapseID"  (click)="collapseController()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
           New Employee
         </button>
         <button style="float:right;" type="button" class="btn btn-default btn-sm" (click)="LogOut()">
            <span class="log-out"><i class="fas fa-sign-out-alt"></i>  Log Out
              <i *ngIf="logoutFlag" class="fa fa-spinner fa-pulse  fa-fw"></i>

            
            </span>
          </button>
  </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">


            <form [formGroup]="CreateEmployeeForm" (ngSubmit)="create(CreateEmployeeForm.value)">
             
              
              <div class="row">

                      <!-- <div class="col-md-4" class="image-upload">
                          <input type="file" accept="image/*" name="file" id="uploadProfilePic" class="inputfile" (change)="ChangeProfilePicture($event)"
                            name="profile-pic" formControlName="profileImage">
                      </div> -->

                      <div  class="col-md-4 input-group">
                        <!-- <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary btn-sm upload-img-btn">Upload</button>
                        </div> -->
                        <div class="custom-file">
                          <input type="file" class="custom-file-input form-control" accept="image/*" (change)="ChangeProfilePicture($event)" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" formControlName="profileImage">
                          <label class="custom-file-label" for="inputGroupFile01">{{Choose}}</label>
                        </div>
                      </div>






                      <div class="col-md-4" *ngIf="is_edit">
                           <div *ngIf="image">
                              <img  src="{{imageServer}}/images/profile-pic/{{image}}">

                           </div>
                           <div *ngIf="!image">
                              <img src="assets/img/dummy-profile-image-png-2.png"> 

                           </div>
                      </div>

                  </div>
                   
     
                   <div class="row">
                       <div class="col-md-4" [ngClass]="{'has-error': CreateEmployeeForm.controls.full_name.invalid && CreateEmployeeForm.controls.full_name.dirty,
                       'has-success': CreateEmployeeForm.controls.full_name.valid && !CreateEmployeeForm.controls.full_name.dirty }">
                       <div class="form-group">
                           <label > Full Name <span style="color: red">*</span></label>
                           <input type="text" formControlName="full_name"  class="form-control" placeholder="Full Name">
                       </div>
                           <div class="validation-icon" *ngIf="CreateEmployeeForm.controls['full_name'].valid || CreateEmployeeForm.controls['full_name'].required">
                              <span class="text-primary" >
                                <i class=" fa fa-check-circle" style="color: rebeccapurple"></i>
                              </span>
                            </div>
                            <div class="validation-icon"
                              *ngIf="CreateEmployeeForm.controls['full_name'].invalid && (CreateEmployeeForm.controls['full_name'].dirty || CreateEmployeeForm.controls['full_name'].touched)">
                              <span class="text-primary">
                                <i class="fa fa-times-circle" style="color: red"></i>
                              </span>
                            </div>
                       </div>





                       <div class="col-md-4" [ngClass]="{'has-error': CreateEmployeeForm.controls.date.invalid && CreateEmployeeForm.controls.date.dirty,
                       'has-success': CreateEmployeeForm.controls.date.valid && !CreateEmployeeForm.controls.date.dirty }">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Birth Date <span style="color: red">*</span></label>
                            <input type="date" class="form-control" formControlName="date" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Birth Date">
                         </div>
                         <div class="validation-icon" *ngIf="CreateEmployeeForm.controls['date'].valid || CreateEmployeeForm.controls['date'].required">
                            <span class="text-primary" >
                              <i class=" fa fa-check-circle" style="color: rebeccapurple"></i>
                            </span>
                          </div>
                          <div class="validation-icon"
                            *ngIf="CreateEmployeeForm.controls['date'].invalid && (CreateEmployeeForm.controls['date'].dirty || CreateEmployeeForm.controls['date'].touched)">
                            <span class="text-primary">
                              <i class="fa fa-times-circle" style="color: red"></i>
                            </span>
                          </div>
                       </div>



                       <div class="form-group col-md-4"
                       [ngClass]="{'has-error': CreateEmployeeForm.controls.gender.invalid && CreateEmployeeForm.controls.gender.dirty,
                       'has-success': CreateEmployeeForm.controls.gender.valid && !CreateEmployeeForm.controls.gender.dirty }">
                       <div>
                          <label for="exampleInputEmail1">Gender <span style="color: red">*</span></label><br>
                          <input type="radio" formControlName="gender"  name="gender" value="male"><span style="font-size: 12px;margin: 4px;">Male</span>
                          <input type="radio" formControlName="gender" name="gender" value="female"><span style="font-size: 12px;margin: 4px;">Female</span>
                       </div>
                       <div class="validation-icon" *ngIf="CreateEmployeeForm.controls['gender'].valid || CreateEmployeeForm.controls['gender'].required">
                          <span class="text-primary">
                            <i class=" fa fa-check-circle" style="color: rebeccapurple"></i>
                          </span>
                        </div>
                        <div class="validation-icon"
                          *ngIf="CreateEmployeeForm.controls['gender'].invalid && (CreateEmployeeForm.controls['gender'].dirty || CreateEmployeeForm.controls['gender'].touched)">
                          <span class="text-primary">
                            <i class="fa fa-times-circle" style="color: red"></i>
                          </span>
                        </div>
                      </div>
                   </div>



                   <div class="row">
                    
                       <div class="col-md-4" [ngClass]="{'has-error': CreateEmployeeForm.controls.designation.invalid && CreateEmployeeForm.controls.designation.dirty,
                       'has-success': CreateEmployeeForm.controls.designation.valid && !CreateEmployeeForm.controls.designation.dirty }">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Designation <span style="color: red">*</span></label>
                              
                              <input type="text" class="form-control" formControlName="designation" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Designation">
                          </div>
                          <div class="validation-icon" *ngIf="CreateEmployeeForm.controls['designation'].valid || CreateEmployeeForm.controls['designation'].required">
                              <span class="text-primary">
                                <i class=" fa fa-check-circle" style="color: rebeccapurple"></i>
                              </span>
                            </div>
                            <div class="validation-icon"
                              *ngIf="CreateEmployeeForm.controls['designation'].invalid && (CreateEmployeeForm.controls['designation'].dirty || CreateEmployeeForm.controls['designation'].touched)">
                              <span class="text-primary">
                                <i class="fa fa-times-circle" style="color: red"></i>
                              </span>
                            </div>
                       </div>



                       <div class="col-md-4">
                         <div class="form-group" [ngClass]="{'has-error': CreateEmployeeForm.controls.salary.invalid && CreateEmployeeForm.controls.salary.dirty,
                         'has-success': CreateEmployeeForm.controls.salary.valid && !CreateEmployeeForm.controls.salary.dirty }">
                            <label for="exampleInputEmail1">Salary <span style="color: red">*</span></label>
                            <input type="number" class="form-control" formControlName="salary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Salary">
                         </div>
                         <div class="validation-icon" *ngIf="CreateEmployeeForm.controls['salary'].valid || CreateEmployeeForm.controls['salary'].required">
                            <span class="text-primary">
                              <i class=" fa fa-check-circle" style="color: rebeccapurple"></i>
                            </span>
                          </div>
                          <div class="validation-icon"
                            *ngIf="CreateEmployeeForm.controls['salary'].invalid && (CreateEmployeeForm.controls['salary'].dirty || CreateEmployeeForm.controls['salary'].touched)">
                            <span class="text-primary">
                              <i class="fa fa-times-circle" style="color: red"></i>
                            </span>
                          </div>
                      </div>
                      <div class="form-group col-md-4" style="margin-top: 30px;">
                        <div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-outline-secondary btn-sm" [disabled]="CreateEmployeeForm.invalid || submit">{{Submit}}</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" (click)="Reset()" class="btn btn-outline-secondary btn-sm">Reset</button>
                            </div>
                        </div>
                        
                        </div>
                   </div>
                    
            </form>       
          </div>
      </div>

<div class="col-md-12 body-table-pag">

    <div class="col-md-12 row " style="margin:10px;">
      <div class="col-md-4">
          <div  class="input-group">
              <div class="input-group-prepend">
                  <button *ngIf="!uploadFlag" class="btn btn-outline-secondary btn-sm upload-img-btn" (click)="UploadFile()">
                      <div >Upload</div>
                  </button>
                  <button *ngIf="uploadFlag" [disabled]="uploadFlag" class="btn btn-outline-secondary btn-sm upload-img-btn">Upload ...
                      <i class="fa fa-spinner fa-pulse  fa-fw"></i>
                  </button>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="importCSVandExcelFile($event)" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">{{ChooseExcel}}</label>
              </div>
            </div>
          </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="downloadPdfAndExcel()">Excel Export</button>
      </div>
      <div class="col-md-4">
              <div class="col-md-12 select-date">
                <select class="form-control" id="id" (change)="selectCreatedDate($event)">
                    <option value="" selected="">Select Created Date</option>
                    <option *ngFor = "let x of createdDateLists; let i =index;" value={{x.creared_date}}> {{x.creared_date}}</option>
              </select> 
             </div>
      </div>
    </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Full Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>
        <th scope="col">
            <div class="col-12 form-group row">
                <div  class="col-md-6 custom-control custom-checkbox" >
                        <input type="checkbox" class="custom-control-input" (change)="selectAllCheckbox($event)" id="customCheck129">
                          <label class="custom-control-label" for="customCheck129" ></label>
                    </div>
              </div>
        </th>
        <th>Event</th>

      </tr>
    </thead>
   
    <tbody>
        
      <ng-container *ngFor="let emp of employees;let i = index">
              <tr>
                  <td scope="row">{{i+1}}</td>
                  <td>
                    <div *ngIf="!emp.image">
                        <img src="assets/img/dummy-profile-image-png-2.png"> 
                    </div>
                     <div *ngIf="emp.image">
                        <img  src="{{imageServer}}/images/profile-pic/{{emp.image}}">
                     </div>
                 </td> 
                  <td>{{emp.full_name}}</td>
                  <td>{{emp.date_of_birth}}</td>
                  <td>{{emp.gender}}</td>
                  <td>{{emp.designation}}</td>
                  <td>{{emp.salary}}</td>
                  <td>
                      <form [formGroup]="checkForm">
                          <div class="col-12 form-group row" formArrayName="checkList">
                              <div  class="col-md-6 custom-control custom-checkbox" [formGroupName]="i">
                                      <input type="checkbox" class="custom-control-input" formControlName="selected" id="customCheck12{{i}}">
                                        <label class="custom-control-label" for="customCheck12{{i}}" ></label>
                                  </div>
                            </div>
                          </form>
                  </td>
                  <td>
                   <i class="far fa-edit" (click)="editEmployee(i)"></i>
                  </td>
                </tr>
      </ng-container>
    </tbody>
   
  </table>
  <div *ngIf="employeeNotExisiFlag">
      <h2 >Employee Not Exist !</h2>
 </div>
  <div class="pagination" *ngIf="employees?.length">
    <div class="col-md-12">
      <div class="paginationContainer">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link">
              <div class="pregdiv iconpreg" (click)="loadClassList(null,true,false)">
                &lt;
              </div>
            </a>
          </li>
  
          <li class="page-item" *ngFor="let page of paginationInfo?.pageComponent">
            <a class="page-link">
              <div class="pregdiv" [ngClass]="{active:page?.active}"
                (click)="page?.click && !page?.active?loadClassList(page?.index,false,false):null">
                {{page?.index}}
              </div>
            </a>
          </li>
  
          <li class="page-item">
            <a class="page-link">
              <div class="pregdiv iconpreg" (click)="loadClassList(null,false,true)">
                &gt;
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div> 
</div>


