img{
    height: 200px;
    width: 188px;
    border: 2px solid rebeccapurple;
}
.select-date{
  float: right;
}
.container{
  margin-top: 20px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-top: 2px solid rebeccapurple;
  border-left: 2px solid rebeccapurple;
  border-right: 2px solid rebeccapurple;
  border-radius: .25rem;
}
.body-table-pag{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rebeccapurple;
  border-radius: .25rem;
  margin-bottom:20px; 
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
  
    div {
      .paginationContainer {
        width: fit-content;
        margin: 0 auto;
  
        ul {
          li {
            a {
              height: 26px;
              width: 26px;
              padding: 0;
              margin: auto 5px;
              border: transparent;
              color: rebeccapurple;
  
              div {
                height: 26px;
                text-align: center;
                line-height: 24px;
              }
            }
  
            .active {
              border-radius: 50%;
              border: 1px solid rebeccapurple;
              background: rebeccapurple;
              color: white;
            }
  
            a:hover {
              background: none;
              cursor: pointer;
            }
          }
  
          li:first-child,
          li:last-child {
            a {
              border-radius: 50%;
              border: 1px solid rebeccapurple;
  
              div {
                color: rebeccapurple;
                line-height: 22px;
              }
            }
          }
        }
      }
  
      p {
        margin-top: 10px;
      }
  
      .breadcrumb {
        background: transparent;
  
        li {
          a {
            color: rebeccapurple;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .pagination>li>a,
  .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background: none !important;
    border: 1px solid #ddd;
  }
  btn{
    color: rebeccapurple;

  }
  
.validation-icon{
  position: absolute;
  top: 37px;
  right: -4px
}
.upload-img-btn{
  height: 34px;
  font-size: 12px;
}
.log-out{
  font-size: 17px;
  color: rebeccapurple;
}
// .log-out:hover{
//   font-size: 17px;
//   color: #fff;
// }
h2{
  text-align: center;
}