/* You can add global styles to this file, and also import other style files */
.form-group {
    margin-bottom: 0rem;
}
.table td, .table th {
    padding: 0.35rem;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid rebeccapurple;
}
.table thead th {
    font-size: 13px;
    vertical-align: bottom;
    border-bottom: 2px solid rebeccapurple;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}
label {
    font-size:13px;
}
// option:hover{background-color:rebeccapurple;}

select:hover {
    color: #444645;
    background:rebeccapurple;
    }
    .btn-group-sm>.btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .875rem;
        height: 33px;
        line-height: 1.5;
        border-radius: .2rem;
    }